<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KCS PROTO SPACE - ユーザーログイン</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

    <header class="header">
        <div class="inner">
            <a th:href="@{/}" class="header__logo">KCS PROTO SPACE</a>
            <div class="header__nav">
                <a th:href="@{/login}" class="nav__link">ログイン</a>
                <a th:href="@{/signUp}" class="nav__link">新規登録</a>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="inner">
            <div class="form__wrapper">
                <h2 class="page-heading">ユーザーログイン</h2>
                <form th:action="@{/login}" method="post">
                    <div class="field">

                        <label for="user_email" class="field-label">メールアドレス</label>
                        <div class="field-input">
                          <input type="email" id="user_email" name="email" autofocus="autofocus" autocomplete="email" required>  
                        </div>


                    </div>
                    <div class="field">
                        <label for="user_password" class="field-label">パスワード（6文字以上）</label>
                        <div class="field-input">
                            <input type="password" id="user_password" name="password" autocomplete="current-password" required>
                        </div>
                    </div>
                    <div class="actions">
                        <input type="submit" value="ログイン" class="btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer class="footer">
        <p>© 2026 KCS PROTO SPACE </p>
    </footer>

</body>
</html>