<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>PROTO SPACE</title>
</head>

<body>

<div class="contents">
  <div class="container">
    <h2>ユーザー新規登録</h2>
    
    <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
      <div th:text="${error}" style="color: red; margin-bottom: 10px;"></div>
    </div>

    <form th:action="@{/user}" th:method="post" th:object="${userForm}">
      
      <div class="field">
        <div class="field-label"><label>メールアドレス</label></div>
        <div class="field-input"><input type="email" th:field="*{email}" /></div>
      </div>

      <div class="field">
        <div class="field-label"><label>パスワード（6文字以上）</label></div>
        <div class="field-input"><input type="password" th:field="*{password}" /></div>
      </div>

      <div class="field">
        <div class="field-label"><label>パスワード再入力</label></div>
        <div class="field-input"><input type="password" th:field="*{passwordConfirmation}" /></div>
      </div>

      <div class="field">
        <div class="field-label"><label>ユーザー名</label></div>
        <div class="field-input"><input type="text" th:field="*{nickname}" /></div>
      </div>

      <div class="field">
        <div class="field-label"><label>プロフィール</label></div>
        <div class="field-input"><textarea th:field="*{profile}"></textarea></div>
      </div>

      <div class="field">
        <div class="field-label"><label>所属</label></div>
        <div class="field-input"><textarea th:field="*{affiliation}"></textarea></div>
      </div>

      <div class="field">
        <div class="field-label"><label>役職</label></div>
        <div class="field-input"><textarea th:field="*{occupation}"></textarea></div>
      </div>

      <div class="actions">
        <input type="submit" value="新規登録" class="btn">
      </div>

    </form>
  </div>
</div>

</body>
</html>