<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>KCS PROTO SPACE</title>
</head>

<body>

<div class="contents row">
  <div class="container">
    <h2>ユーザー新規登録</h2>
    <div class="form">
      <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
        <div th:text="${error}"></div>
      </div>

      <form th:action="@{/signUp}" th:method="post" th:object="${userForm}" class="new_user">
        
        <div class="field">
          <label for="email">メールアドレス</label><br />
          <input type="email" id="email" th:field="*{email}" />
        </div>

        <div class="field">
          <label for="password">パスワード（6文字以上）</label><br />
          <input type="password" id="password" th:field="*{password}" />
        </div>

        <div class="field">
          <label for="password_confirmation">パスワード再入力</label><br />
          <input type="password" id="password_confirmation" th:field="*{passwordConfirmation}" />
        </div>

       <div class="field">
          <label for="nickname">ユーザー名</label><br />
          <input type="text" id="nickname" th:field="*{name}" /> </div>

        <div class="field">
          <label for="profile">プロフィール</label><br />
          <textarea id="profile" th:field="*{profile}"></textarea>
        </div>

        <div class="field">
          <label for="affiliation">所属</label><br />
          <textarea id="affiliation" th:field="*{occupation}"></textarea> </div>

        <div class="field">
          <label for="occupation">役職</label><br />
          <textarea id="occupation" th:field="*{position}"></textarea> </div>

        <div class="actions">
          <input type="submit" value="新規登録">
        </div>

      </form>
    </div>
  </div>
</div>

<div th:insert="~{footer :: footer}"></div>

</body>
</html>