<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>プロトタイプ編集</title>
</head>
<body>
    <main class="main">
        <div class="form__wrapper">
            <h2 class="page-heading">プロトタイプ編集</h2>
            
            <form th:action="@{/protos/{id}/update(id=${prototype.id})}" th:object="${prototype}" method="post" enctype="multipart/form-data">
                
                <input type="hidden" th:field="*{image}">
                
                <div class="field">
                    <label for="title" class="field-label">プロトタイプの名称</label>
                    <div class="field-input">
                        <input type="text" id="title" th:field="*{title}" required>
                    </div>
                </div>

                <div class="field">
                    <label for="catchCopy" class="field-label">キャッチコピー</label>
                    <div class="field-input">
                        <textarea id="catchCopy" th:field="*{catchCopy}" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <label for="concept" class="field-label">コンセプト</label>
                    <div class="field-input">
                        <textarea id="concept" th:field="*{concept}" required></textarea>
                    </div>
                </div>

                <div class="field">
                    <label for="image" class="field-label">プロトタイプの画像</label>
                    <div class="field-input-file">
                        <input type="file" id="image" name="imageFile">
                    </div>
                </div>

                <div class="actions">
                    <input type="submit" value="保存する" class="btn-primary">
                </div>
            </form>
        </div>
    </main>
</body>
</html>